body{
  background-color: black;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.headerDiv{
  background-image: url("horizon.png");
  border-bottom: 2px solid black;
  box-shadow:4px 4px  grey;
  margin-bottom: 5vh;
  text-align:center;
}

h1{
  color:red;
  text-shadow: -4px -4px  #883333;

}

.dropzone{
  text-align: center;
  display:flex;
  background:silver;
  min-width: 50vh;
  max-width: 85vw;
  height: 105px;
  margin:5px;
  padding-right: 8px;
  overflow: scroll;
  box-shadow: inset -4px -4px  grey;
  background-image: linear-gradient(120deg, #66a6ff 0%, #89f7fe 100%);

}

.dragbox{
  user-select: none;
  height: 50px;
  min-width:15vh;
  padding-top: 3px;
  padding-left: 3px;

}



.Paladin{
  background-color: #EBEF1A;
  box-shadow: inset -4px -4px  #C2C50B;


}

.Wizard{
  background-color: #ff6347;
  box-shadow: inset -4px -4px  #9c1d06;
}

.Monk{
  background-color: #ffa500;
  box-shadow: inset -4px -4px  #a76d03;
}

.Barbarian{
  background-color: red;
    box-shadow: inset -4px -4px #a50404;
}

.Sorcerer{
  background-color: violet;
  box-shadow: inset -4px -4px  #cc5fcc;
}

.Warlock{
  background-color: purple;
  box-shadow: inset -4px -4px #520252;
}

.Fighter{
  background-color: brown;
  box-shadow: inset -4px -4px  #731515;
}

.Ranger{
  background-color: green;
  box-shadow: inset -4px -4px  #035003;
}

.Bard{
  background-color: #ff5478;
  box-shadow: inset -4px -4px #c5415d;
}

.Druid{
  background-color: #602E2F;
  box-shadow: inset -4px -4px #3A1B1C;
}

.Cleric{
  background-color: #FCFCFC;
  box-shadow: inset -4px -4px #bfb9b9;
}

.Enemy{
  background-color: #4B3E3E;
  box-shadow: inset -4px -4px #100E0E;
}


img{
  padding-top: 4px;
}

.modal-div{
  text-Align:center;
}

.myModal{
  margin-top: 10vh;
  margin-left: 32vw;
  text-align:center;
  width:500px;
  height:550px;
  background-color: white;
  box-shadow: inset -4px -4px  #bfb9b9;
  border-left: solid 1px black;
  border-top: solid 1px black;
  overflow: scroll;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.navbarContainer{
  text-align: center;
  display: flex;
  justify-content: space-between;

}

.navlink{
  text-align: center;
  list-style: none;
  display: inline-flex;
}

.header-alignment-div{
  width:20px;
  margin-right: 20px;
}

.leaflet-container {
  width: 84%;
  height: 1440px;
}

.mapdiv{
  text-align: center;
}
