.dropzone{
  align-items: center;
  display:flex;
  background:silver;
  padding:4px;
  min-width: 100px;
  height: 100px;
  margin:5px;
  border: 1pt solid blue;
  overflow: scroll;
  /* animation: mychange 5s infinite; */

}

/* @keyframes mychange{
  50% {background: red bottom right/50px 50px;}
} */

.dragbox{
  user-select: none;
  height: 50px;
  min-width:100px;

}

header{
  height:8vh;
  background:blue;
  border:7pt groove red;
}
